@import "tailwindcss";
@tailwind utilities;


@theme {
  /* === PRIMARY COLORS === */
  --color-primary-helem-400: #912DFD;
  --color-primary-helem-500: #7311DD;
  --color-primary-helem-600: #580BAA;

  /* === SEMANTIC BACKGROUND COLORS === */
  --color-semantic-background-primary: #0D0D0D;
  --color-semantic-background-secondary: #5B5A5C;
  --color-semantic-background-tertiary: #363636;
  --color-semantic-background-list: rgba(25,25,26,0.38);
    --color-semantic-background-list-hover: rgba(25,25,26,0.65);

  /* === TEXT COLORS === */
  --color-text-primary: #B3B3B3;
  --color-text-hover: #7311DD;
}

:root {
  font-family: var(--font-quicksand), sans-serif;
}

body {
  font-family: var(--font-quicksand), sans-serif;
}
